
<nav class="navbar navbar-expand-sm navbar-dark bg-color">
    <div class="container-fluid">
      <a class="navbar-brand">
        <label class='text-md-italic'>Singular Services Product Order</label>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" 
               aria-current="page"
               [routerLinkActiveOptions]="{exact:true}" 
               routerLinkActive="active"
              [routerLink]="['home']">
              <label class="text-sm">Home</label>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact:true}" 
               [routerLink]="['vc']">
                <label class="text-sm">Order</label>
            </a>
          </li>
        </ul>
        <label class="d-flex">
            <button class="btn btn-light btn-sm" 
                    type="submit"
                     (click)="logout()">
               <label class="text-xs">Logout</label>
            </button>
        </label>
      </div>
    </div>
  </nav>